{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'blog/style.css'%}">
</head>
<body>
<div class="MENU">
    <h1>Menu</h1>

    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="http://127.0.0.1:8000/home3/in33/">Country</a></li>
         <li><a href="http://127.0.0.1:8000/home3/area/">Areas</a></li>
        <li><a href="http://127.0.0.1:8000/home2/region/">Regions</a></li>
        <li><a href="http://127.0.0.1:8000/home2/about/">About</a></li>
    </ul>

</div>



<button><a href="http://127.0.0.1:8000/home2/cRegion/"> create Blog</a></button>
{% for region in regions %}

<div class="blog-wrapper">
  <div class="blog-card">
    <div class="card-img"><img>
      <h2>{{region.name}}</h2>
    </div>
    <div class="card-details"><span><i class="fa fa-calendar"></i></span><span><i class="fa fa-heart"></i></span></div>
    <div class="card-text"><p>{{region.about}}</p></div>
    <div class="read-more"><a href="http://127.0.0.1:8000/home3/up/{{blog.pk}}">Обновить</a>
    </div>
    <div class="read-more"><a href="http://127.0.0.1:8000/home3/delete/{{blog.pk}}">Удалить</a>
    </div>
  </div>
</div>


{% endfor %}

</body>
</html>